USE [master]
GO
/****** Object:  Database [GestionConciertosDB]    Script Date: 18/8/2025 12:27:17 ******/
CREATE DATABASE [GestionConciertosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionConciertosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionConciertosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionConciertosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionConciertosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionConciertosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionConciertosDB]
GO
/****** Object:  Table [dbo].[CategoriaAsientos]    Script Date: 18/8/2025 12:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaAsientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Numero] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[IdConcierto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conciertos]    Script Date: 18/8/2025 12:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conciertos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Lugar] [nvarchar](200) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[InicioDeVenta] [bit] NOT NULL,
	[Promotor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaPromocional]    Script Date: 18/8/2025 12:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaPromocional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdConcierto] [int] NOT NULL,
	[FotoVideoUrl] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/8/2025 12:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Correo] [nvarchar](100) NOT NULL,
	[Contrasenia] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaAsientos] ON 

INSERT [dbo].[CategoriaAsientos] ([Id], [Nombre], [Numero], [Precio], [IdConcierto]) VALUES (1, N'VIP', 100, CAST(150.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[CategoriaAsientos] ([Id], [Nombre], [Numero], [Precio], [IdConcierto]) VALUES (2, N'General', 2000, CAST(50.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[CategoriaAsientos] ([Id], [Nombre], [Numero], [Precio], [IdConcierto]) VALUES (3, N'Platino', 300, CAST(200.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[CategoriaAsientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Conciertos] ON 

INSERT [dbo].[Conciertos] ([Id], [Nombre], [Descripcion], [FechaHora], [Lugar], [Capacidad], [InicioDeVenta], [Promotor]) VALUES (1, N'Festival de Rock 2025', N'Nueva descripcion: Un Gran evento Musical con múltiples bandas reconocidas a nivel mundial. Ven y disfruta una experiencia única en vivo.', CAST(N'2025-12-20T20:00:00.000' AS DateTime), N'Estadio Nacional', 5000, 1, N'usuario.prueba@example.com')
INSERT [dbo].[Conciertos] ([Id], [Nombre], [Descripcion], [FechaHora], [Lugar], [Capacidad], [InicioDeVenta], [Promotor]) VALUES (2, N'Latin Pop Fest 2025', N'Un evento espectacular con los artistas más destacados del pop latino. Música, luces y emoción garantizada.', CAST(N'2025-12-10T19:30:00.000' AS DateTime), N'Parque Viva', 7000, 1, N'popfest2025@eventoslatinos.com')
INSERT [dbo].[Conciertos] ([Id], [Nombre], [Descripcion], [FechaHora], [Lugar], [Capacidad], [InicioDeVenta], [Promotor]) VALUES (3, N'concierto bad bunny', N'"Prepárate para vivir una noche inolvidable con Bad Bunny en concierto. El fenómeno global del reguetón y trap latino llega con su explosiva energía, presentando todos sus éxitos en un show lleno de luces, ritmo y emociones. ¡No te lo pierdas!"', CAST(N'2025-10-23T23:54:00.000' AS DateTime), N'Estadio Nacional', 10000, 1, N'usuario.prueba@example.com')
SET IDENTITY_INSERT [dbo].[Conciertos] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaPromocional] ON 

INSERT [dbo].[MediaPromocional] ([Id], [IdConcierto], [FotoVideoUrl]) VALUES (12, 1, N'https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2')
INSERT [dbo].[MediaPromocional] ([Id], [IdConcierto], [FotoVideoUrl]) VALUES (15, 3, N'https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2')
INSERT [dbo].[MediaPromocional] ([Id], [IdConcierto], [FotoVideoUrl]) VALUES (16, 3, N'https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80')
SET IDENTITY_INSERT [dbo].[MediaPromocional] OFF
GO
INSERT [dbo].[Usuarios] ([Correo], [Contrasenia], [Nombre], [Rol]) VALUES (N'alejimeart@gmail.com', N'8c3]vLj5C}9Ah8~', N'alejimenez2003', N'cliente')
INSERT [dbo].[Usuarios] ([Correo], [Contrasenia], [Nombre], [Rol]) VALUES (N'nuevo.usuario@example.com', N'Segura123!', N'Usuario Actualizado', N'Administrador')
INSERT [dbo].[Usuarios] ([Correo], [Contrasenia], [Nombre], [Rol]) VALUES (N'usuario.prueba@example.com', N'Clave123!', N'Usuario Prueba', N'Promotor')
GO
ALTER TABLE [dbo].[CategoriaAsientos]  WITH CHECK ADD FOREIGN KEY([IdConcierto])
REFERENCES [dbo].[Conciertos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaPromocional]  WITH CHECK ADD  CONSTRAINT [FK_MediaPromocional_Concierto] FOREIGN KEY([IdConcierto])
REFERENCES [dbo].[Conciertos] ([Id])
GO
ALTER TABLE [dbo].[MediaPromocional] CHECK CONSTRAINT [FK_MediaPromocional_Concierto]
GO
USE [master]
GO
